

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: rgba(78, 71, 255, 1);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.header{
    background-image: url('B12A01-landing-launchpad/Hero-bg.png');
    padding-bottom: 200px;
}

.secondary-bg{
    background-color: #FFFFFF;
}

.banner-title{
    font-weight: bold;
    font-size: 65px;
}

.banner{
    text-align: center;
    justify-content: space-between;
}

.banner-content{
    margin: 0;
    gap: 0;
}

.btn-primary{
    background-color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: medium;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
}

.btn-primary:hover{
    cursor: pointer;
    background-color: chocolate;
    color: #181818;
    font-weight: lighter;
}
.action-title{
    font-size: 50px;
    font-weight: 650;
    color: #181818;
}

.action-des{
    font-size: 30px;
    color: #757575;
}

.action{
    display: flex;
    gap: 350px;
    text-align: center;
    justify-content: center;
    padding: 50px 130px;
}

.action-item{
    text-align: left;
}

.item-title{
    font-weight: bolder;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}

.item-description{
    font-size: 30px;
    color: #757575;
}

.product{
    background-color: rgba(70, 63, 255, 0.1);
    text-align: center;
    padding: 20px 50px;
    margin: 61px 141px;
    border-radius: 35px;
}
.product-items{
    display: flex;
    gap: 100px;
    justify-content: space-around;
}

.star{
    display: flex;
}

.revtitle{
    font-weight: bold;
    font-size: 35px;
}

.rev_name{
    font-size: 19px;
    font-weight: bold;
    color: #757575;
}

.rev_date{
    color: rgba(179, 179, 179, 1);
    font-size: 19px;
    font-weight: normal;
}

.rev-item{
    display: flex;
    align-items: center;
    gap: 14px;
}

.rev-items{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.rev{
    background-color: #F2EDED;
    box-shadow: #181818;
    text-align: left;
    border-radius: 10px;
    width: 330px;
    height: 243px;
    padding: 24px 28px;
}

.reviews{
    text-align: center;
    /* margin: 50px 250px; */
}

.rev p{
    font-weight: 500;
    font-size: 18px;
}

footer{
    padding: 110px 200px;
    border: none;
    display: flex;
    gap: 100px;
    background-color: rgba(70, 63, 255, 0.1);
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    /* display: block; */
    width: 100%;
    padding: 14px 24px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
}

footer textarea{
    height: 150px;
}

.footer-title{
    font-size: 100px;
    font-weight: bold;
}

.touch{
    width: 100%;
}

footer label{
    font-weight: 600;
    font-size: medium;
}

.logo{
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
}

.logo-title{
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
}

.logo-items{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.logo-description{
    color: rgba(179, 179, 179, 1);
    font-size: 22px;
}

.logo-bt{
    text-decoration: none;
    font-size: 22px;
    color: rgba(179, 179, 179, 1);
}